{
	"gameConfig": {
		"endpoint": "wss://botws.generals.io/",
		"userId": "RANDOMLY_GENERATED_STRING",
		"username": "[Bot] Floatbot",
		"customGameId": "floatbot",
		"warCry": [
			"Beep bop blop!",
			"Learn more at github.com/CorsairCoalition/Flobot"
		]
	},
	"redisConfig": {
		"HOST": "",
		"USERNAME": "",
		"PASSWORD": ""
	}
}
